---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?updated_since
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer ad8d9e69e9bd11efe7c0d0ac77d636500c908f0005296999d2efb6e2301967c6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2017-09-07 11:40:25 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1504785600'
      X-Ratelimit-Remaining:
      - '998'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings?page=1&updated_since=>; rel="first",
        <https://www.bookingsync.com/api/v3/bookings?page=1&updated_since=>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '39'
      X-Per-Page:
      - '100'
      Etag:
      - W/"f1458377c644228f17fb4e4123228107"
    body:
      encoding: UTF-8
      string: '{"links":{"bookings.account":"https://www.bookingsync.com/api/v3/accounts/{bookings.account}","bookings.rental":"https://www.bookingsync.com/api/v3/rentals/{bookings.rental}","bookings.bookings_tags":"https://www.bookingsync.com/api/v3/bookings_tags/{bookings.bookings_tags}"},"bookings":[{"links":{"account":9372,"bookings_tags":[],"rental":33191},"id":2030273,"start_at":"2017-08-27T16:00:00Z","end_at":"2017-09-09T10:00:00Z","status":"Booked","updated_at":"2017-05-24T10:34:57Z","reference":"017IKH","owned_by_app":false},{"links":{"account":9372,"bookings_tags":[],"rental":33191},"id":2030274,"start_at":"2017-09-09T16:00:00Z","end_at":"2017-09-10T10:00:00Z","status":"Booked","updated_at":"2017-05-24T10:34:58Z","reference":"017IKI","owned_by_app":false},{"links":{"account":9372,"bookings_tags":[],"rental":33191},"id":2030275,"start_at":"2017-09-10T16:00:00Z","end_at":"2017-09-16T10:00:00Z","status":"Booked","updated_at":"2017-05-24T10:34:58Z","reference":"017IKJ","owned_by_app":false},{"links":{"account":9[...]
