---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?updated_since=2010-01-01%2012:12:12%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1395410400'
      X-Ratelimit-Remaining:
      - '956'
      Link:
      - "<https://www.bookingsync.com/api/v3/bookings?page=1>; rel=\"first\",
        <https://www.bookingsync.com/api/v3/bookings?page=1>; rel=\"last\""
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"25e36b48fa66e5428431111d81877e3f\""
    body:
      encoding: UTF-8
      string: "{\"bookings\":[{\"short_name\":\"one\",\"id\":1,\"account_id\":1,\"rental_id\":2,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"},{\"short_name\":\"one\",\"id\":4,\"account_id\":1,\"rental_id\":2,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"}],\"meta\":{\"deleted_ids\":[2,17]}}"
  recorded_at: Fri, 21 Mar 2014 13:46:19 GMT
