---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/los_records?updated_since
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Updated-Since-Request-Synced-At:
      - 2017-06-13 19:08:39 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1497384000'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/los_records?page=1&updated_since=>; rel="first",
        <https://www.bookingsync.com/api/v3/los_records?page=2&updated_since=>; rel="next",
        <https://www.bookingsync.com/api/v3/los_records?page=4&updated_since=>; rel="last"
      X-Total-Pages:
      - '4'
      X-Total-Count:
      - '2928'
      X-Per-Page:
      - '800'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1d7799a09f30685681a71d016ba191c0"
    body:
      encoding: UTF-8
      string: '{"links":{"los_records.rental":"https://www.bookingsync.com/api/v3/rentals/{los_records.rental}"},"los_records":[{"links":{"rental":1},"id":19765,"kind":"initial","day":"2015-08-20","rates":["0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0"],"min_occupancy":null,"max_occupancy":7,"original_currency":null,"currency":null,"exchange_rate":null,"created_at":"2016-10-12T13:07:00Z"},{"links":{"rental":1},"id":19766,"kind":"final","day":"2015-08-20","rates":["0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0","0.0"],"min_occupancy":null,"max_occupancy":7,"original_currency":null,"currency":null,"exchange_rate":null,"created_at":"2016-10-12T13:07:00Z"},{"links":{"rental":1},"id":19767,"kind":"initial","day":"2015-08-21","rates":["0.[...]
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/los_records?page=2&updated_since=
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Updated-Since-Request-Synced-At:
      - 2017-06-13 19:09:02 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1497384[...]
[...]
